.one{
    position: fixed;
    top:10px;
    height: 50px;
    background-color:white;
}
.two{
    position:absolute;
    left: 200px;
    top: 7px;
    
}
.three{
    position: absolute;
    left: 650px;
    top: 10px;
    color:rgba(0,0,0,.5);;
}